why does Connect method take a pattern?

https://tools.ietf.org/html/rfc7231#section-4.3.6 says that 

```
A client sending a CONNECT request MUST send the authority form of
   request-target (Section 5.3 of [RFC7230]); i.e., the request-target
   consists of only the host name and port number of the tunnel
   destination, separated by a colon.  For example,

     CONNECT server.example.com:80 HTTP/1.1
```

Thus, there will be no pattern other than `"/"` to match against. So it should only take the handler and automatically assume the pattern is `"/"`.

good question, its also the convention, but someone can choose to use a method however they would like. 